* {
    --bg-color: #0f141b;
    --fg-text-color: #dddac6;

    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}
html.lightmode {
    --bg-color: #c2d9d6;
    --fg-color: #303a39;
}
html {
    background-color: var(--bg-color);
    color: var(--fg-text-color);

    padding: 2em;
}

.interface {
    
}