* {
  font-family: sans-serif;

  /*Colors*/
  --page-background-color: #e8e8e8;
  --page-text-color: #333;
  --goal-entry-background-color: #fff;
  --goal-entry-text-color: #666666;

  --edit-button-background-color: #96a9a5;
  --delete-button-background-color: #ff4d4d;
  --complete-button-background-color: #4CAF50;
  --button-text-color: #fffefe;

  /*Defaults agnostic to React components*/
  background-color: var(--page-background-color);
  color: var(--page-text-color);
  font-weight: 600;
}


/*Buttons*/
.edit-goal-button {
  background-color: var(--edit-button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.5rem;

  margin-right: 0.5rem;
  margin-left: 0.5rem;

  border-radius: 0.4rem;
  cursor: pointer;
}
.delete-goal-button {
  background-color: var(--delete-button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.5rem;

  margin-right: 0.5rem;
  margin-left: 0.5rem;

  border-radius: 0.4rem;
  cursor: pointer;
}
.complete-goal-button {
  background-color: var(--complete-button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.5rem;

  margin-right: 0.5rem;
  margin-left: 0.5rem;

  border-radius: 0.4rem;
  cursor: pointer;
}


/*Goals*/
.goals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;

}

.goal-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  max-width: 30rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: var(--goal-entry-background-color);
  color: var(--goal-entry-text-color);

  #goal-entry-buttons {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }
}


/*Other App UI*/
.goals-menu-page {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.add-goal-button {
  background-color: var(--edit-button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;

  margin-right: 0.5rem;
  margin-left: 0.5rem;

  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
}

